{% extends "layout.html" %}
{% block content %}
<!-- Button trigger modal -->

<section class="bg-dark text-light p-5 p-lg-0 pt-lg-5 text-center text-sm-start">
    <div class="container">
        <div class="d-sm-flex align-items-center justify-content-between">
          <div>
            <h1>How to submit a <span class="text-warning"> Match Report </span></h1>
            <p class="lead my-4">
                Tracking match results is crucial to the integrity and competitiveness of our league. Please take the time to review
                the expectations and standards for reporting match results below.
            </p>
            <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#reportMatchModal">
                Report Match Result
            </button>
          </div>
          <img
            class="img-fluid w-50 d-none d-sm-block"
            src="../static/images/referee.png"
            alt=""
          />
        </div>
    </div>
</section>

<section class="bg-dark p-5">
    <div class="container">
      <div class="row text-center g-4">
        <div class="col-md">
          <div class="card bg-secondary text-light">
            <div class="card-body text-center">
              <div class="h1 mb-3">
                <i class="bi bi-laptop"></i>
              </div>
              <h3 class="card-title mb-3">Bookkeeping</h3>
              <p class="card-text">
                Referees will keep a notebook of some sort to track goals, cards, and other notes during the game. 
              </p>
              <img src="../static/images/yellowcard.png" class="img-fluid">
            </div>
          </div>
        </div>
        <div class="col-md">
          <div class="card bg-secondary text-light">
            <div class="card-body text-center">
              <div class="h1 mb-3">
                <i class="bi bi-person-square"></i>
              </div>
              <h3 class="card-title mb-3">Hybrid</h3>
              <p class="card-text">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                Iure, quas quidem possimus dolorum esse eligendi?
              </p>
              <a href="#" class="btn btn-dark">Read More</a>
            </div>
          </div>
        </div>
        <div class="col-md">
          <div class="card bg-secondary text-light">
            <div class="card-body text-center">
              <div class="h1 mb-3">
                <i class="bi bi-people"></i>
              </div>
              <h3 class="card-title mb-3">In Person</h3>
              <p class="card-text">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                Iure, quas quidem possimus dolorum esse eligendi?
              </p>
              <a href="#" class="btn btn-primary">Read More</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  
  <!-- Modal -->
  
  
  <div class="modal fade" id="reportMatchModal" tabindex="-1" aria-labelledby="reportMatchModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="reportMatchModalLabel">Report Match Result</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <!-- The WTForm goes here -->
          <form method="POST">
            {{ form.hidden_tag() }}
            <p>{{ form.division.label }}<br>{{ form.division() }}</p>
            <p>{{ form.home_team.label }}<br>{{ form.home_team() }}</p>
            <p>{{ form.home_team_score.label }}<br>{{ form.home_team_score() }}</p>
            <p>{{ form.away_team.label }}<br>{{ form.away_team() }}</p>
            <p>{{ form.away_team_score.label }}<br>{{ form.away_team_score() }}</p>
            <p>{{ form.date.label }}<br>{{ form.date() }}</p>
            <p>{{ form.submit() }}</p>
          </form>
        </div>
      </div>
    </div>
  </div>
  
{% endblock %}
