{% extends "layout.html" %}
{% block content %}
<section id="learn" class="p-5">
    <div class="container">
      <div class="row align-items-center justify-content-between">
        <div class="col-md">
          <img src="../static/images/homepic1.png" class="img-fluid" alt="" />
        </div>
        <div class="col-md p-5">
          <h2>Who can play?</h2>
          <p class="lead">
            We have divisions for all players - from 3 year olds to end of High School. Children as young as three years old can join if they are ready to kick a ball and play as part of a group.  In general, nursery schoolers should sign up for the "Pre-K" Division, kindergarteners for the "K" Division, first-graders for Division One, and so on.  First-grade girls and older have the option of choosing "all-girls" or "coed."
          </p>
        
            <p>
                <button class="btn btn-danger" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                  COVID Update
                </button>
              
              <div class="collapse" id="collapseExample">
                <div class="card card-body">
                    In accordance with Montgomery County guidelines for COVID-19, masks are optional for players and spectators, but we encourage adults to wear masks if they are not vaccinated.  If anyone in your household is experiencing symptoms of COVID-19 please inform your coach or a league administrator and remain home.  Players who cannot attend school because of Covid protocols also are not allowed to attend soccer practices or games.  We will update these guidelines as necessary.
                </div>
              </div>
            </p>
          
        </div>
      </div>
    </div>
  </section>

  <section id="learn" class="p-5 bg-dark text-light">
    <div class="container">
      <div class="row align-items-center justify-content-between">
        <div class="col-md p-5">
          <h2>Learn React</h2>
          <p class="lead">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit.
            Similique deleniti possimus magnam corporis ratione facere!
          </p>
          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cumque
            reiciendis eius autem eveniet mollitia, at asperiores suscipit
            quae similique laboriosam iste minus placeat odit velit quos,
            nulla architecto amet voluptates?
          </p>
          <a href="#" class="btn btn-light mt-3">
            <i class="bi bi-chevron-right"></i> Read More
          </a>
        </div>
        <div class="col-md">
          <img src="img/react.svg" class="img-fluid" alt="" />
        </div>
      </div>
    </div>
  </section>
{% endblock %}
