<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../static/css/styles.css">
    <title>{{ title }} - TPNSL</title>
    <!-- link to your CSS files here -->
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-md bg-dark navbar-dark">
            <div class="container">
                <a href="/" class="navbar-brand">Takoma Park Soccer</a>
                <a href="#" class="navbar-brand ms-auto">
                    <img src="../static/images/tkpk.png" style="width:50px;height:50px" class="image-fluid">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navmenu">
                    <span class="navbar-toggler-icon"></span>
                </button>
                
                <div class="collapse navbar-collapse" id="navmenu">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item">
                            <a href="/" class="nav-link">Home</a>
                        </li>
                        <li class="nav-item">
                            <a href="/registration" class="nav-link">Registration</a>
                        </li>
                        <li class="nav-item">
                            <a href="/contacts" class="nav-link">Contacts</a>
                        </li>
                        <li class="nav-item">
                            <a href="/admin" class="nav-link">Admin</a>
                        </li>
                        <li class="nav-item">
                            <a href="/standings" class="nav-link">Standings</a>
                        </li>
                    </ul>
                </div>

                
            </div>
        </nav>
    </header>

    <main>
        {% block content %}
        <!-- This block will be overwritten by each specific template -->
        {% endblock %}
    </main>

    <footer>
        <!-- Footer goes here -->
    </footer>

    <!-- link to your JavaScript files here -->
</body>
</html>
